<!DOCTYPE HTML>
<html>
<head>
    <title>getfjfek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/uslugi.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <a class="p-2 text-dark" href="/">SIMPY</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/uslugi/">Uslugi</a>
        <a class="p-2 text-dark" href="/reviews">Reviews</a>
    </nav>
</div>

<div class="container mt-5">
    <h1>Update user</h1>

    {{#user}}
        <form method="post">
            <label>
                <input type="text" value="{{username}}" name="username" placeholder="Введите название" class="form-control">
            </label><br>
            <label>
                <textarea name="email" placeholder="Введите название" class="form-control">{{email}}</textarea>
            </label><br>
            <select name="role">
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select>
            <input type="hidden" name="_csrf"
                   value="{{#_csrf}}{{_csrf.token}}{{/_csrf}}">
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    {{/user}}
</div>

<footer>
    <p>@Jane - Все права защищены.</p>
</footer>
</body>
</html>